In [ ]:
#list:A list is incredibly versatile because it can hold items of different data types at the same time (e.g., numbers, text, and even other lists)

In [ ]:
# a list is a ds that  holds ordered collection of items
#When we say a list is ordered, it means that the items have a specific, stable position.
#The order in which you put them in is the order they stay in.

In [2]:
lst=["milk","chesese","butter"]

In [3]:
lst[0]

'milk'

In [ ]:
lst[-1] # last element from list

'butter'

In [6]:
lst[:-2] #(last se -(-int) chodke starting se sare)

['milk']

In [7]:
#in operator for a element in that lst
'milk' in lst

True

In [8]:
#mutability in List
"""
Python Lists
Lists in Python are a built-in data type that can store a collection of items.
 They are inherently mutable, which is a key characteristic. 
 This means that once a list is created, you can:

Change an element at a specific index. For example, my_list[0] = 'new_value'.


Add new elements using methods like append(), extend(), or insert().

Remove elements using del, remove(), or pop().


"""
#Array is also mutable

"\nPython Lists\nLists in Python are a built-in data type that can store a collection of items.\n They are inherently mutable, which is a key characteristic. \n This means that once a list is created, you can:\n\nChange an element at a specific index. For example, my_list[0] = 'new_value'.\n\n\nAdd new elements using methods like append(), extend(), or insert().\n\nRemove elements using del, remove(), or pop().\n\n\n"

### update insert list

In [9]:
list=[1,2,3,4,5]

In [10]:
list[0]=100

In [11]:
list

[100, 2, 3, 4, 5]

In [12]:
#inserting elelemts

In [13]:
#insert-> To insert at any index of list
print(list)
list.insert(0,1999)
print(list)

[100, 2, 3, 4, 5]
[1999, 100, 2, 3, 4, 5]

In [14]:
#append-> add element to end of list
print(list)
list.append(1999)
print(list)

[1999, 100, 2, 3, 4, 5]
[1999, 100, 2, 3, 4, 5, 1999]

In [15]:
#extend ->tp add new list to it
print(list)
list.extend([0,0,0])
print(list)

[1999, 100, 2, 3, 4, 5, 1999]
[1999, 100, 2, 3, 4, 5, 1999, 0, 0, 0]

###slicce delete in list

In [16]:
list=[1,2,3,44,5]

In [17]:
#slicing
list[0:3] #->first index included second not

[1, 2, 3]

In [18]:
#updating first 2
list[0:2]=['w','h']
list

['w', 'h', 3, 44, 5]

In [19]:
#deletion of elements
#pop(index) -> delete any elkement by index >if not index last elelement deleted
print(list)
list.pop(1)
print(list)

['w', 'h', 3, 44, 5]
['w', 3, 44, 5]

In [20]:
#delete ->for detetion one element by index or more by slicing 
del list[0:2]
print(list)
del list[0]
print(list)

[44, 5]
[5]

In [27]:
#remeove deletion by giving element
list=[1,2,3,44,5]
list.remove(44)
print(list)

[1, 2, 3, 5]

### searing in list

In [29]:
#1 in operator
#2 linear serach

### List operation and Functions

In [21]:
# + operator for concatinating list
a=[1,2,3]
b=[9,0,8]
c=a+b
print(c)

[1, 2, 3, 9, 0, 8]

In [22]:
# * Opeartor ->any elemnt in list can be repeated
a=[1,2,3]
a=a*2
a

[1, 2, 3, 1, 2, 3]

In [34]:
#len function for list length
a=[1,2,3]
print(len(a))

3

In [23]:
#max 
a=[1,2,3]
print(max(a))

#min
a=[1,2,3]
print(min(a))

#sum
a=[1,2,3]
print(sum(a))

3
1
6

In [24]:
total=0
count=0
while(True):
    inp=input("enter the num")
    if inp=='done': break
    value=float(inp)
    total=total+value
    count=count+1
    average=total/count

print(average)


# for and while loop variable can be used outside

7.0

In [44]:
del list

In [45]:
#string to list
s = "abc"
l = list(s)
print(l)

['a', 'b', 'c']

In [26]:
s = "a b c"
delimeter=" " #splitting criteris
l = s.split(delimeter)
print(l)

['a', 'b', 'c']

In [27]:
#join
x=delimeter.join(l)

In [28]:
x

'a b c'

In [29]:
#list and Array
#-> both are mutable
#-> Both can be indexed and iterated through
#->they can be both sliced
#->for compuation array

### List comprehension

In [53]:
li=[1,2,3,5]
new_lst=[l*2 for l in li]

In [54]:
new_lst

[2, 4, 6, 10]

In [30]:
li=[1,2,3,5,-1]
new_lst=[l*2 for l in li if l>0]
new_lst

[2, 4, 6, 10]

In [31]:
li=[1,2,3,5,-1]
new_lst=[l**2 for l in li if l<0]
new_lst

[1]

In [ ]:
#The method isalpha() checks whether a string contains only alphabetic characters (A–Z or a–z).

In [32]:
def is_consonat(letter):
    vowels="aeiou"
    return letter.isalpha() and letter.lower() not in vowels

In [33]:
li=['a','b','c','d','e']
new_lst=[l for l in li if is_consonat(l)]
new_lst

['b', 'c', 'd']

In [34]:
li=[1,2,3,5,-1]
new_lst=[l if l>0 else "negative" for l in li]
new_lst

[1, 2, 3, 5, 'negative']

In [36]:
li=[1,2,3,5,-1]
def g_n(l):
    if l>0 :
        return l
    else:
        return "negative" 
new_lst=[g_n(l) for l in li]
new_lst

[1, 2, 3, 5, 'negative']